<p>A new talk has been submitted to BiznagaFest:</p>

By <b>{{name}}</b>

<p>Co-speakers: {{coSpeakerNames}}</p>

<p><b>- Title: </b>{{title}}</p>
<p><b>- Abstract: </b>{{abstract}}</p>
<p><b>- Language: </b>{{language}}</p>
<p><b>- Level: </b>{{level}}</p>
<p><b>- Comments: </b>{{comments}}</p>