<p>A new talk has been submitted to BiznagaFest:</p>

By <b>{{name}}</b>

<p>- Title: {{title}}</p>
<p>- Abstract: {{abstract}}</p>
<p>- Language: {{language}}</p>
<p>- Level: {{level}}</p>
<p>- Comments: {{comments}}</p>
